@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: white;
    --sombra-letra:  1px 1px 1px black;
    --tipo-letra: "Roboto Condensed", sans-serif;
    --sombra-box: 0 8px 16px rgba(0, 0, 0, 0.3);
    --background1:red;
}

html, body {
    overflow-x: hidden; 
    
}

header{
    background: rgb(4, 4, 58);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 2px solid black;
    position: fixed;  
    width: 100%;
    transition: color 0.3s;
    z-index: 1000; 
}
header > h1{
    font-size: 50px;
    color: var( --cor-primaria);
    font-family: "Inter", sans-serif;
    
}

nav ul{
    display: flex;
    gap: 50px;
    padding: 10px;
    transition-duration: 1s;
    padding-top: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    
    padding: 10px 25px;
    border-radius: 10px;
    opacity: 0.8W;
    text-decoration: none;
    color: aqua;
    font-size: 20px;
}
#cadastro{
    background: red;
}

.botao-menu{
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: var(--cor-primaria);
    cursor: pointer;
}

nav ul :hover {
    transform: translateY(-5px);
    transition: transform 0.6s;
    color: var( --cor-primaria);
}

main{
    background: rgb(200, 207, 207);
    min-height: 90vh;
    font-family: "Inter", sans-serif;
    
}

#cadastro{
    background: var(--background1);
}

#cadastro1{
    padding-top: 200px;
    padding-bottom: 50px;
}

#titulo1{
    background: var(--background1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 80vh;
    margin: auto;
    font-size: 20px;
    color: var(--cor-primaria);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--sombra-box);

}

strong{
    position: relative;
    top: 20px;
}

#conteudo{
    background: rgb(255, 255, 255);
    max-width: 80vh;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--sombra-box);
}

#contatos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}
#contatos > input{
    padding: 10px;
    border: 1px solid blue;
}
#contatos > label{

    position: relative;
    top: 30px;

}

.termos {
    font-size: 14px;
    padding: 10px;
}
.termos > p{
    position: relative;
    right: 10px;
}


#contatos > #btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#contatos > #btn >label{
    display: flex;
    align-items: center;
    gap: 20px;
}

#contatos > #btn > button{
    padding: 10px 30px;
    background: var(--background1);
    border-radius: 10px;
    color: var(--cor-primaria);
}


@media (max-width: 768px) {
    .conteudo1 {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .conteudo1 > img {
        width: 90%;
    }

    nav ul {
       
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgb(4, 4, 58);
        width: 100%;
        padding: 20px 0;
        
    }
    nav ul.show {
        display: flex;
    }

    .botao-menu{
        display: block;
    }

    header {
        align-items: start;
        flex-direction: column;


    }

    nav ul li a{
        font-size: 15px;
        gap: 10px;
    }

   

}