@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: white;
    --sombra-letra:  1px 1px 1px black;
    --tipo-letra: "Roboto Condensed", sans-serif;
    --tipo-letra2:"Shadows Into Light", cursive;
    --sombra-box: 0 8px 16px rgba(0, 0, 0, 0.3);
}


html {
    overflow-x: hidden; 
    background: rgb(200, 207, 207);
}


header{
    background: rgb(4, 4, 58);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    transition: color 0.3s;
}
header > h1{
    font-size: 50px;
    color: var( --cor-primaria);
    font-family: "Inter", sans-serif;
    
}

nav ul{
    display: flex;
    gap: 50px;
    padding: 10px;
    transition-duration: 1s;
    padding-top: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    
    padding: 10px 25px;
    border-radius: 10px;
    opacity: 0.8W;
    text-decoration: none;
    color: aqua;
    font-size: 20px;
}
#cadastro{
    background: red;
}

.botao-menu{
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: var(--cor-primaria);
    cursor: pointer;
}

nav ul :hover {
    transform: translateY(-5px);
    transition: transform 0.6s;
    color: var( --cor-primaria);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  padding-top: 50px;
  padding-bottom: 50px;

}

#titulo-sobre{
    padding: 20px;
    font-size: 40px;
}

.post-it{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    background: #fff176;
    padding: 30px;
    box-shadow: var(--sombra-box);
    gap: 20px;
    padding-bottom: 150px;
    font-family: var(--tipo-letra2);
    font-size: 25px;
}

#titulo-emergencia{
    font-size: 25px;
}

@media (max-width: 600px) {
    nav ul {
       
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgb(4, 4, 58);
        width: 100%;
        padding: 20px 0;
        
    }
    nav ul.show {
        display: flex;
    }

    .botao-menu{
        display: block;
    }

    header {
        align-items: start;
        flex-direction: column;


    }

    nav ul li a{
        font-size: 15px;
        gap: 10px;
    }


    .post-it{
        max-width: 95%;
        padding-bottom: 50px;
    }
    #titulo-sobre{
        font-size: 30px;
    }


    
}