*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; 
}
header{
    background: rgb(4, 4, 58);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 2px solid black;
    position: fixed;  
    width: 100%;
    transition: color 0.3s;
    z-index: 1000; 
}
header > h1{
    font-size: 50px;
    color: white;
}

nav ul{
    display: flex;
    gap: 50px;
    padding: 10px;
    transition-duration: 1s;
    padding-top: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    
    padding: 10px 25px;
    border-radius: 10px;
    opacity: 0.8W;
    text-decoration: none;
    color: aqua;
    font-size: 20px;
}
#cadastro{
    background: red;
}
.logo{
    padding-bottom: 15px;
  
}

nav ul :hover {
    transform: translateY(-5px);
    transition: transform 0.6s;
    color: white;
}

#banner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../assets/Logo\ Eco\ alerta.avif");
  background-repeat: no-repeat; 
  background-size: cover;     
  background-position: center;
  min-height: 100vh;
  padding-top: 150px; 
  padding-left: 20px;
  padding-right: 20px;
  
}

#banner h1 {
  font-size: 40px;
  color: white;
}

#banner p {
  font-size: 20px;
  color: white;
}

#botao{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: red;
    color: white;
    transition: background-color 0.3s;
}
html{
     user-select: none;
}
#botao:hover{
    background: rgb(211, 4, 4);
    
}
main{
    background: rgb(200, 207, 207);
}


.section1{
    margin: 50px;
    border: 2px solid gray;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: auto;
    background: whitesmoke
}

.titulo1{
    font-size: 35px;
    padding: 30px;
    margin-top: 20px;
    left: 40px;
    display: flex;
    justify-content: center;
}

.card {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.conteudo1{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    margin: 0 40px;
    gap: 30px;

    
}
.conteudo1 > img{
    width: 400px;
    border: 2px solid black;
}

.section1:hover{
    background: rgb(219, 216, 216);
}


.listra{
    width: 10px;
    height: 65px;
    background: rgb(168, 22, 22);
    position: relative;
    top: 10px;
    right: 20px;
    
}

#conteudo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conteudo2 > img{
    width: 45%;    
}





@media (max-width: 768px) {
    .conteudo1 {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .conteudo1 > img {
        width: 90%;
    }

    nav ul {
       
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    header {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: static;

    }

    nav ul li a{
        font-size: 15px;
        gap: 10px;
    }

    .titulo1{
        font-size: 15px;

    }
    .conteudo1{
        padding-bottom: 10px;
    }
    
    
}
